<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
      <h1 class="text-2xl text-center">Simple Weather Application</h1>
      <div class="flex flex-col h-screen">